APP_NAME=odoo-timesheet-automation
APP_ENV=dev
APP_HOST=0.0.0.0
APP_PORT=8000
LOG_LEVEL=INFO
TIMEZONE=Asia/Karachi

ODOO_URL=http://host.docker.internal:8069
ODOO_DB=odoo
ODOO_USERNAME=admin
ODOO_PASSWORD=admin
ODOO_EMPLOYEE_MODEL=hr.employee
ODOO_EMPLOYEE_USER_FIELD=user_id
TRANSCRIPTION_URL=https://aqs-shispare-transcript-api.hf.space/voice

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1
CHAT_SESSION_REDIS_URL=redis://redis:6379/2
CHAT_SESSION_TTL_SECONDS=1800

LLM_PROVIDER=groq

GROQ_API_KEY=CHANGE_ME
GROQ_MODEL=llama-3.3-70b-versatile
GROQ_API_BASE=https://api.groq.com/openai/v1
GROQ_USER_AGENT=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36

GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.0-flash
GEMINI_API_BASE=https://generativelanguage.googleapis.com/v1beta
